.bg{
  padding-top: 0.1px;
}
.test1 {
  background-color: #f20;
  margin: 0 10px;
  height: 50vw;
  font-size: 20px;
  color: #333;
  text-align: center;
  line-height: 50vw;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-items:Center;
}
.layout-content{
}